.navList {
  display: flex;
  gap: 15px;
}

.wrapper {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 20px;
  font-weight: 800;
  color: #023802;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 30px;
  min-width: 80px;
  padding: 0 5px;

  color: black;
  font-weight: 700;
  text-transform: uppercase;

  border: 2px solid black;
  border-radius: 3px;

  background-color: #fce627;
  background-repeat: no-repeat;
  background-position: 30% 50%;

  transition: scale var(--transition);
}

.navLink:hover,
.navLink:focus {
  scale: 1.08;
  background-color: gold;
}
